node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
test-results/
allure-results/
my-report/
playwright-report/
.playwright/
.auth/

*.tsbuildinfo

.vscode/
*.sublime*

.env

# файлы Windows
Thumbs.db